# Django Config
DJANGO_SECRET_KEY=sua-chave-secreta-aqui
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL)
DB_NAME=frequencia_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis & RabbitMQ
REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

# Outras Configurações
NGROK_URL=
PRESENCA_DUPLICATE_LOCK_TIMEOUT=60
