<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for turma in minhas_turmas %}
    <div class="glass-surface glass-surface-hover p-6 group relative rounded-3xl transition-all">
        <div class="flex justify-between items-start mb-6">
            <span class="text-[9px] font-bold bg-slate-800 text-indigo-400 px-3 py-1 rounded-md uppercase mono">{{ turma.disciplina.codigo }}</span>
        </div>
        <h3 class="text-lg font-bold text-white mb-1 group-hover:text-indigo-400 transition-colors italic leading-tight">{{ turma.disciplina.nome }}</h3>
        <p class="text-[10px] font-bold text-slate-500 uppercase tracking-widest">{{ turma.semestre }}</p>
        <div class="mt-8">
            <a href="{% url 'gerenciar_alunos_disciplina' turma.id %}" class="block text-center py-3 bg-indigo-600 hover:bg-indigo-500 rounded-xl text-[10px] font-bold uppercase tracking-widest text-white transition-all shadow-lg shadow-indigo-900/20">Gerenciar Disciplina</a>
        </div>
    </div>
    {% endfor %}
</div>
